# {{ ansible_managed }}

# Drift File Location
driftfile {{ ntp.driftfile }}

# Time Servers to Sync With
{% for server in ntp.servers %}
server {{ server }}
{% endfor %}

# Leave this. It's a fallback when the other servers are inaccessable, so
# things don't break.
server 127.127.1.0
fudge 127.127.1.0 stratum 10

# This is where ntpd stores "learned" info about your clock, so that over
# time it depends less on other servers for accurate time.
driftfile {{ ntp.drift_file }}

# Restrict the server enough to make it secure, but not so much as to make it
# not work (like the default config).
restrict -4 {{ ntp.restrictions.v4|join(' ') }}
restrict -6 {{ ntp.restrictions.v6|join(' ') }}
restrict 127.0.0.1
restrict ::1

{% for client in ntp.clients %}
restrict {{ client.network }} mask {{ client.mask }} {{ client.restrictions|join(' ') }}
{% endfor %}

